.calc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 400px;
    height: 550px;
    background-color: black;
    border-radius: 5px;
    
}

.outer {
display: flex;
justify-content: center;
align-items: center;
margin-top: 85px;
}

.display-screen-container {
    
    margin-top: 20px;
    width: 365px;
    background-color: rgb(238, 238, 238);
    height: 120px;
    border: 2px black solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
justify-content: center;

    gap: 15px;
}

.display-screen, .previous-screen {
    margin-right: 20px;
}

.previous-screen {
    font-size: 22.5px;
}

.display-screen {
    font-size: 30px;
}

.cd {
    display: flex;
    gap: 10px;
}

.delete-container, .clear-container {
    border-radius: 5px;
    
    cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
 width: 177.5px;
 height: 60px;
}
.clear-container {
    background-color: #d7263d;
}
.delete-container {
    background-color: #32cbff;
    
}

.delete, .clear {
    font-size: 20px;
    
}

.delete-container:hover, .clear-container:hover {
    opacity: 0.65;
}

.delete-container:active, .clear-container:active {
    opacity: 0.5;
}
.buttons {
    display: flex;
    flex-direction: column;
   
    gap: 10px;
    
}

.button-row {
    display: flex;
   
    gap: 10px;
    
}

.button {
    font-size: 30px;
    border: 2px black solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 60px;
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}
